footer {
    display: flex;
    align-items: center;
    border-top: solid 2px #ccc;
    padding: 0 35px;
    min-height: 50px;
    font-size: 18px;
}

.footer-text {
    font-size: 21px;
}

@media (max-width: 992px){
    footer {
        padding: 0 20px;
    }
    .footer-text {
        font-size: 18px;
    }
}

@media (max-width: 576px){
    footer {
        padding: 0 15px;
    }
    .footer-text {
        text-align: center;
        font-size: 16px;
    }
}
