.matches-filter-form{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.input-matches-filter {
    background-color: #ddd;
    width: 100%;
    /* margin-left: auto; */
    padding: 12px 0px 12px 20px;
    border: solid 1px #ccc;
    border-radius: 15px;
    margin-right: 20px;
    font-size: 16px;
}

.btn-matches-filter {
    width: 280px;
    border-radius: 15px;
    margin-top: 0;
    /* margin-left: auto; */
    font-size: 16px;
    box-sizing: content-box;
    /* margin-right: auto; */
    padding: 0;
    line-height: 45px;
}

.table-matches {
    width: 100%;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-collapse: collapse;

}

.table-matches tr>th{
    background-color: #ddd;
    font-size: 16px;
}

.table-matches tr>td{
    padding: 51px 0;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    text-align: center;
    font-size: 16px;
}

.winner-name-td {
    background-color: #ddd;
    display: block;
    border-radius: 18px;
    width: 38%;
    margin-inline: auto;
}

.matches-nav{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.matches-nav a {    
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
.matches-nav>.prev {
    font-size: 40px;
    margin-left: 0;
}

.matches-nav>.next {
    font-size: 40px;
}

.current-page {
    font-weight: bold;
    font-size: 20px;
}
