.match-score-image{
    margin-top: 20px;
    border-radius: 30px;
    background-image: url('../images/scorekeeper.png');
    background-position: center;
    min-height: 50vh;
    background-size: cover;
}

.score-table-container{
    border: solid 1px #ccc;
    border-radius: 15px;
    margin-top: 20px;
}

.score-table{
    border-collapse: collapse;
    
    width: 100%;
}
.score-table-header th{
    text-align: left;
    font-weight: 400;
    padding: 5px 5px 5px 10px;
}



.score-table-first-player td {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 60px 5px;
    font-family: "Roboto Mono", monospace;
}

.score-table-second-player td{
    padding: 60px 5px;
    font-family: "Roboto Mono", monospace;
}

.btn.table {
    width: 100%;
    margin-top: 0;
    padding: 12px 30px;
    border-radius: 15px;
}