.new-match-image{
    margin-top: 20px;
    border-radius: 30px;
    background-image: url('../images/racket.png');
    background-position: center;
    min-height: 50vh;
    background-size: cover;
}

/* .form-container {
    
} */

.input-name {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    border: #ccc 1px solid;
    border-radius: 18px;
    padding: 12px 10px;
}

.btn.form-button {
    display: block;
    border-radius: 10px;
    margin-inline: auto;
    margin-bottom: 16px;
    width: 100%
}

.label-player {
    display: block;
    margin: 20px 0 3px;
    font-size: 16px;
}
