*{
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* font-family: "Roboto Mono", monospace; */ 
}

p {
    font-size: 21px;
}

@media (max-width: 992px){
    p{
        font-size: 18px;
    }
}

@media (max-width: 576px){
    p{
        font-size: 16px;
    }
}

