<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="static/jinja2/templates/css/style.css">

    <script src="static/jinja2/templates/js/script.js" defer></script>
    
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>{% block navigation %}{% endblock navigation %}</nav>
    {% block content %}{% endblock content %}
</body>
</html>

