{% extends 'base.html' %}

{% block additional_styles %} {% endblock additional_styles %}
{% block title %}Error Page{% endblock title%}

{% block about_container %}
    <h1 class="welcome-header">Error</h1>
    <p>{{error_description}}</p>
{% endblock about_container %}

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <script src="static/scripts/header_style.js" defer></script>
    <title>Error Page</title>
</head>

<body>

    <main>
        <section class="about-container">
            
            
        </section>
    </main>
</body>

</html> -->