{% extends 'base.htm' %}
{% block title %}Match Score{% endblock title%}
{% block navigation %}
<a href="http://localhost:8080/">main_page</a><br/>
<a href="http://localhost:8080/new-match">new_match_page</a><br/>
match_score_page<br/>
<a href="http://localhost:8080/matches">matches_page</a><br/>
{% endblock navigation %}
{% block content %}
Содержимое content match score
<form method="post" enctype="application/x-www-form-urlencoded">
    <table>
        <tr>
            <th>Player</th>
            <th>sets</th>
            <th>games</th>
            <th>points</th></tr>
        <tr>
            <td>{{player_1_name}}</td>
            <td>{{score.player_1_sets}}</td>
            <td>{{score.player_1_games}}</td>
            <td>{{score.player_1_points}}</td>
        </tr>
        <tr>
            <td>{{player_2_name}}</td>
            <td>{{score.player_2_sets}}</td>
            <td>{{score.player_2_games}}</td>
            <td>{{score.player_2_points}}</td>
        </tr>
    </table>
    <input type="submit" name="player_first_win" value="player one win one score">
    <input type="submit" name="player_second_win" value="player two win one score">
</form>
{% endblock content %}