{% extends 'base.htm' %}
{% block title %}New Match{% endblock title%}
{% block navigation %}
<a href="http://localhost:8080/">main_page</a><br/>
new_match_page<br/>
<a href="http://localhost:8080/match-score">match_score_page</a><br/>
<a href="http://localhost:8080/matches">matches_page</a><br/>
{% endblock navigation %}
{% block content %}
<form method="post" enctype="application/x-www-form-urlencoded">
    <label for="Player_1">Имя игрока 1:</label><input id="Player_1" name="Player_1_name"/><br/>
    <label for="Player_2">Имя игрока 2:</label><input id="Player_2" name="Player_2_name"/><br/>
    <input type="submit" value="Create"/>
</form>
{% if is_error %}
    <div style="color: red">{{error_description}}</div>
{% endif %}
{% endblock content %}